html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #001731;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.header {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    gap: 20px;  
    padding: 20px;  
    background-color: #ffffff;  
    font-size: 18px;
    flex-wrap: wrap;
}
.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    color: #000985;
}
.nav a{
    text-decoration: none;
    color: #000985;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover{
    color: #0066cc;
    border-bottom: 2px solid #0066cc;
    padding-bottom: 3px;
}

.footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
    padding:20px 40px;
}

/* esquerda */
.social-links{
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* centro */
.copyright{
    justify-self: center;
    text-align: center;
    color: white;
}

/* extrema direita */
.ford-logo{
    justify-self: end;
}

/* texto redes */
.redes-text{
    font-weight: bold;
    color: white
}


.carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 0px;
}
.main {
    flex: 1;
    background-color: #ffffff;
}
.ford-message {
    color: #474242;
    font-size: 20px;
    font-weight: bold;
}
.lancamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
}
.ford-car-image {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.car-card {
  width: 220px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  background: #fff;
}


.car-card img {
  width: 100%;
  border-radius: 10px;
}


.car-card input {
  display: none;
}


.check {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}


.car-card input:checked + .check {
  background: #007BFF;
  border-color: #007BFF;
}


.check::after {
  content: "";
  position: absolute;
  display: none;
}

.car-card input:checked + .check::after {
  display: block;
}

.check::after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.modelo {
  margin-top: 10px;
  font-weight: bold;
}

.preco {
  color: #333;
}


.car-card:hover {
  transform: scale(1.05);
  border-color: #007BFF;
}


.car-card input:checked ~ .modelo,
.car-card input:checked ~ .preco {
  color: #007BFF;
}
.butao{
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.butao:hover{
    background-color: #0056b3;
    transform: scale(1.05);
}
.botao-enviar{
    padding:10px 20px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.botao-enviar:hover{
    background:#0056b3;
    transform:scale(1.1);
}
.contato-container{
display:flex;
justify-content:center;
align-items:center;
gap:80px;
padding:60px;
flex-wrap:wrap;
}

.carro img{
width:350px;
}

.form-contato{
display:flex;
flex-direction:column;
gap:10px;
width:300px;
}

.form-contato input,
.form-contato select,
.form-contato textarea{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

.form-contato button{
margin-top:10px;
padding:10px;
background:#2f66d0;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.form-contato button:hover{
background:#1c4db5;
transform:scale(1.05);
}
.ford-logo-footer{
    justify-self: end;
}
@media (max-width: 768px){

.header{
flex-direction:column;
text-align:center;
}

.nav{
flex-direction:column;
gap:5px;
}

.carrinho img{
width:100%;
}

.ford-message{
font-size:18px;
text-align:center;
}

.footer{
flex-direction:column;
text-align:center;
}

.social-links{
justify-content:center;
}

.contato-container{
flex-direction:column;
padding:30px;
gap:30px;
}

.carro img{
width:250px;
}

.form-contato{
width:100%;
max-width:350px;
}

.ford-car-image{
flex-direction:column;
align-items:center;
}

.car-card{
width:90%;
max-width:300px;
}

}